* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
  }
  article {
    flex: 1;
  }
  
  aside {
    flex: 0 0 20vw;
    background: beige;
  }
  
  header, footer {
    background: rgb(132, 146, 228);
    height: 20vh;
  }
  header, footer, article, aside, .sectionofparts {
    padding: 20px;
    text-align: center;
  }
  .part {
  background-color: wheat;
  }
  .sectionofparts{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  .footersection {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .item{
  background-color: white;
  }